body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    width: 960px;
    margin: 20px;
    text-align: center;
}

.square {
    width: 50%;
    float: left;
}

#logo {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

#zegar {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.tille1 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}

.tille1:hover {
    background-color: #2084c2;
}

.tille2 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}

.tille2:hover {
    background-color: #555555;
}

.tille3 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}

.tille3:hover {
    background-color: #82b637;
}


.tille4 {
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 26px;
    padding: 30px;
    line-height: 150%;
}

.tille5 {
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
}

.tille6 {
    list-style-type: square;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    text-decoration: none;


}

.tille7 {
    list-style-type: square;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    text-decoration: none;


}

.yt {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
}

.yt:hover {
    background-color: #c83237;
}

.fb {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
}

.fb:hover {
    background-color: #3557A2;
}

.in {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #2867B2;
    float: left;
}

.in:hover {
    background-color: #1756A1;
}

.git {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #AAAAAA;
    float: left;
}

.git:hover {
    background-color: #BBBBBB;
}

a.tilelink {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}

a.sociallink {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 105px;
    height: 142px;
}

a.tilelinkhtml5 {
    color: #ffffff;
    text-decoration: none;
}


@media (max-width: 1000px) and (min-width: 800px) {

    .container {
        width: 750px;
    }

    .square {
        width: 750px;
    }

    .rectangle {
        width: 460px;
    }

}

@media (max-width: 800px) and (min-width: 500px) {

    .container {
        width: 500px;
    }

    .square {
        width: 750px;
    }

    .rectangle {
        width: 460px;
    }

}

@media (max-width: 500px) {
    
    #logo {

        margin: 15px;
        font-size: 30px;
        width: 260px;
    }

    #zegar {

        width: auto;
        margin: 15px;
        font-size: 30px;
    }

    #container {
        width: 430px;
          margin: 15px;
    
    }

    .square {
        width: 430px;
        margin: 15px;
    }

    .rectangle {
        width: 430px;
        margin: 15px;
    }


}

/*

@media all and (min-width:480px) and (max-width:768px) {
    body {
        font-size: 16px;
    }

    #container {
        width: 100%;
        

    }

    #logo {
        
        margin: 15px;
        font-size: 30px;
        width: 260px;
    }

    #zegar {
        
        width: auto;
        margin: 15px;
        font-size: 30px;
    }

    .rectangle {
        
        width: 460px;
        margin: 15px;
    }

    .square {
        
        
        margin: 10px;
        width: 460px;
    }
    
    .tille4{
        width: 460px;
        margin: 10px;
    }




}
