* {
    margin: 0;
    padding: 0;
    /*font-family: 'Lato', sans-serif;*/
}

body {
    background: #626060;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}

#wrapper {
    width: 100%;

}

header {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 60px;
    width: 100%;
    padding: 10px 0;
    background-color: #383535;


}

section {
    text-align: center;
    font-size: 20px;

}

article {

    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 20px;
    margin: 0 auto 0 auto;
    background-color: white;
    color: black;
}

footer {
    height: 40px;
    background-color: #333;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 17px;

}

article h1 {
    font-size: 26px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;

}

div.box {

    position: relative;
    top: auto;
}

div.box label {
    width: 100%;
    display: block;

}

div.box label span {
    display: block;
}

div.box .wpis {
    padding: 10px 10px;
    width: 225px;

}

div.box .button {
    width: 100px;
    height: 30px;
}

div.box .g-recaptcha {
    position: relative;
    margin-left: 590px;
    margin-right: auto;
}

div.wyloguj {
    text-align: right;
    font-size: 16px;
}

div.zasoby {
    text-align: center;
    font-size: 16px;
}

div.dane {
    text-align: right;
    font-size: 16px;
}

div.czas {
    text-align: right;
    font-size: 16px;
}

.column1 {
    float: left;
    display: inline-block;
    width: 15%;
    padding: 10px;
    height: 450px;
}

.column2 {
    float: center;
    display: inline-block;
    width: 65%;
    padding: 10px;
    height: 450px;
}

.column3 {
    float: right;
    display: inline-block;
    width: 15%;
    padding: 10px;
    height: 450px;
}

.nav {
    width: 100%;
    padding: 10px 0;
    background-color: #aaa;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;

}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li {
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b;
}

ol > li:first-child {
    border-left: 1px dashed #751b1b;
}

ol > li:hover {
    background-color: #bbb;
}

ol > li:hover > a {
    color: #451717;
}

.active {
    color: #751B1B;
}





#glowny-budynek {

    
    width: 30%;
    z-index: 3;
    display: block;
    position: absolute;
    left: 550px;
    right: auto;
    top: 300px;
    bottom: auto;
    
}

#koszary {
    width: 30%;
    z-index: 7;
    display: block;
    position: absolute;
    left: 300px;
    right: auto;
    top: 300px;
    bottom: auto;
    
}

#magazyn {
    width: 30%;
    z-index: 2;
    display: block;
    position: absolute;
    left: 400px;
    right: auto;
    top: 450px;
    bottom: auto;
}

#rynek {
    width: 30%;
    z-index: 3;
    display: block;
    position: absolute;
    left: 650px;
    right: auto;
    top: 450px;
    bottom: auto;
}

#stajnia {
    width: 30%;
    z-index: 2;
    display: block;
    position: absolute;
    left: 800px;
    right: auto;
    top: 300px;
    bottom: auto;
}




#osada1 {

    
    width: 30%;
    z-index: 3;
    display: block;
    position: absolute;
    left: 550px;
    right: auto;
    top: 300px;
    bottom: auto;
    
}

#drewno {
    width: 30%;
    z-index: 7;
    display: block;
    position: absolute;
    left: 300px;
    right: auto;
    top: 300px;
    bottom: auto;
    
}

#glina {
    width: 30%;
    z-index: 2;
    display: block;
    position: absolute;
    left: 400px;
    right: auto;
    top: 450px;
    bottom: auto;
}

#kamien {
    width: 30%;
    z-index: 3;
    display: block;
    position: absolute;
    left: 650px;
    right: auto;
    top: 450px;
    bottom: auto;
}

#zboze {
    width: 30%;
    z-index: 2;
    display: block;
    position: absolute;
    left: 800px;
    right: auto;
    top: 300px;
    bottom: auto;
}

.surowce-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.surowce{
    
    text-align: left;
    font-size: 16px;
}

div.wyloguj-surowce {
    text-align: right;
    font-size: 16px;
}

div.zasoby-surowce {
    text-align: center;
    font-size: 16px;
}

.osada-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.okolica-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.zegar{
    font-size: 16px;
    text-align: right;
}

.mapa-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.statystyki-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.raporty-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.wiadomosci-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.statystyki-area{
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}



.wyloguj-statystyki {
    text-align: right;
    font-size: 16px;
}

.statystyki{
    text-align: center;
    font-size: 16px;
    
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}

th {
  background-color: #aaa;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}
th, td {
  border-bottom: 1px solid #ddd;
}

textarea{
    background-color: #AAA;
    width: 300px;
    height: 200px;
    
}


div.send {

    position: relative;
    top: auto;
    
    
}

div.send label {
    width: 100%;
    display: inline-block;
    
    
}


div.send .wpis {
    padding: 10px 10px;
    width: 400px;
    height: 100px;
    background-color: #bbb;
    border: 1px solid black;
    

}

div.send .button {
    width: 150px;
    height: 30px;
}

div.output {
    
    position: relative;
    top: auto;
    
            
}

div.output label {
    width: 100%;
    display: inline-block;
    
    
}

div.output .wpis1{
    padding: 10px 10px;
    width: 400px;
    height: 100px;
    background-color: #bbb;
    border: 1px solid black;
    

}

