* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
}

body {
    background-color: #47443C;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: white;
}

header img {
    
    width: 100%;
    display: block;
}

/*
nav {
    background-color: #333;
    text-align: left;
}

nav a {}

.menu {
    display: inline-block;
    width: 20%;
    padding: 15px 25px 15px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
}
*/

nav {
    overflow: hidden;
}

nav a {
    display: block;
    width: 20%;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    padding: 15px 25px 15px 25px;
    font-style: 20px;
    /*transition: all 1s ease;*/
}


a.menu:hover {
    background-color: #A0A0A0;
}

.active {
    background-color: #A0A0A0;
}

@media (max-width:800px) {
    nav a {
        width: 20%;
    }

    h1 {
        font-size: 18px;
    }
}


@media (max-width:600px) {
    nav a {
        width: 90%;
    }

    h1 {
        font-size: 18px;
    }
}

article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

img.left {
    float: left;
    padding: 10px;
    width: 25%;
    border-radius: 50% 30%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;
}

/* news zegar */

article a {
    margin: 0 10% 20px 10%;
    text-align: center;
    display: block;
    padding: 10px 10px;
    font-size: 50px;
}

article h2 {
    text-align: justify;
    margin: 0 10% 20px 10%;
    line-height: 25px;
    font-size: 22px;
    padding: 15px 0;
}

article h4 {
    font-size: 30px;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    text-align: center;

}



iframe {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 40px;
    background-color: #333;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}



/*Contact form*/
form {
    width: 50%;
    margin-left: 10px;
    margin-right: auto;
}

div.box {
    margin: 0 auto;
    width: 300px;
    position: relative;
    top: auto;
}

div.box h3 {
    text-align: center;
    border-bottom: 2px solid crimson;
}

div.box label {
    width: 100%;
    display: block;
    background: #white;
    padding: 25px 0 0 25px;
}

div.box label span {
    display: block;
}

div.box .wpis {
    padding: 10px 10px;
    width: 225px;
    background: #white;
    border-bottom: 1px double #white;
    border-top: 1px double #333333;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
}

div.box .wiadomosc {
    padding: 5px 10px;
    width: 225px;
    background: #white;
    border-bottom: 1px double #white;
    border-top: 1px double #333333;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
    overflow: hidden;
    height: 150px;
}

div.box .button {
    padding: 10px 0px;
    width: 25%;
    margin: 0 75px;
}

/*    Okręslamy font w html, z któego inne elementy dziedziczą
    html {
      font-family: arial;
    }*/
/*Stylujemy przycisk*/
button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    transition: .3s;
}

button:hover {
    background-color: #000;
    color: white;
}

/*  Stylujemy diva i liczbe w nim, czyli widok naszejwylosowanej kulki */
los {    
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f5d522;
    margin: 10px 10px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    color: black;
    
}

