@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?94492046');
  src: url('../font/fontello.eot?94492046#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?94492046') format('woff2'),
       url('../font/fontello.woff?94492046') format('woff'),
       url('../font/fontello.ttf?94492046') format('truetype'),
       url('../font/fontello.svg?94492046#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94492046#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; font-size: 76px;margin-top: 20px;} /* '' */
.icon-mail:before { content: '\e801'; font-size: 76px;margin-top: 20px;} /* '' */
.icon-folder:before { content: '\e802'; font-size: 76px;margin-top: 35px;} /* '' */
.icon-folder-open:before { content: '\e803'; font-size: 76px;margin-top: 20px;} /* '' */
.icon-folder-1:before { content: '\e804'; font-size: 76px;margin-top: 20px;} /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-trash-empty:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-music:before { content: '\e809'; } /* '' */
.icon-music-outline:before { content: '\e80a'; } /* '' */
.icon-cloudapp:before { content: '\e80b'; } /* '' */
.icon-html5:before { content: '\e80c'; } /* '' */
.icon-ie:before { content: '\e80d'; } /* '' */
.icon-dropbox:before { content: '\e80e'; } /* '' */
.icon-music-1:before { content: '\e80f'; } /* '' */
.icon-export:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-globe:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; font-size: 76px;margin-top: 20px;} /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-youtube:before { content: '\f167'; font-size: 76px;margin-top: 35px;} /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; font-size: 76px;margin-top: 20px;} /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; font-size: 76px;margin-top: 35px;} /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; font-size: 76px;margin-top: 35px;} /* '' */
.icon-linkedin-squared:before { content: '\f30c'; font-size: 76px;margin-top: 35px;} /* '' */