
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */